@using COBADO.Models

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylee.css" />
    <link rel="stylesheet" href="/css/adminpanel.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Admin Panel</title>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="topnavbar">
          <ul>
            <li>
              <a href="/Home/sport">Spor</a>
              <a href="/Home/theatre">Tiyatro</a>
              <a href="/Home/theatre">Müzik</a>
              <a href="/Home/categories">Tüm kategoriler</a>
            </li>
          </ul>
        </div>
        <div class="bottomnavbar">
          <label
            style="display: flex; align-items: center; justify-content: center"
            class="logo"
            ><a
              style="text-decoration: none; color: black"
              href="/Home/index"
              >COBADO</a
            >
          </label>
          <div class="form">
                <form method="POST" action="bar" style="display: flex;flex-direction: row;width: 80%;margin-top: 10px;justify-content: center;">
                <input type="text" id="EventName" name="EventName" placeholder="Search" />
                <button type="submit">Ara</button>
                </form>
            </div>
          <ul>
            <li>
              <a href="/Home/index">Anasayfa</a>
              <a href="/Home/all_event">Etkinlikler</a>
              <a href="/Home/login"
                @{
                    if (Context.Request.Cookies["name"] != null)
                {<a href="/Home/profile">Profil</a>
                    <a href="/Home/logout"><i style="margin-right: 5px" class="far fa-user" aria-hidden="true"></i> Çıkış Yap</a>
                }
                else
                    {
                <a href="/Home/login"><i style="margin-right: 5px" class="far fa-user" aria-hidden="true"></i>Giris Yap</a>
                    }
                }
              
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section>
      <div class="tab">
        <button
          class="tablinks"
          onclick="openCity(event, 'addEvent')"
          id="defaultOpen"
        >
          Etkinlik Ekle
        </button>
        <button class="tablinks" onclick="openCity(event, 'changeEvent')">
          Etkinlik Değiştir
        </button>
        <button class="tablinks" onclick="openCity(event, 'deleteEvent')">
          Etkinlik Sil
        </button>
        <button class="tablinks" onclick="openCity(event, 'RBA')">
          Kullanıcı Rolü Belirle
        </button>
        <button class="tablinks" onclick="openCity(event, 'deleteuser')">
          Kullanıcı Sil
        </button>
      </div>

      <div id="addEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
          <form action="EventAdd" method="POST">
            <div class="event-text">
              <div class="event-top">
                <label for="EventName">EventName</label>
                <textarea
                  id="EventName"
                  name="EventName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhoto">EventPhoto</label>
                <textarea
                  id="EventPhoto"
                  name="EventPhoto"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventFull">EventFull</label>
                <textarea
                  id="EventFull"
                  name="EventFull"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventSummary">EventSummary</label>
                <textarea
                  id="EventSummary"
                  name="EventSummary"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
               <div class="event-top">
                <label for="place_id">place_id</label>
                <textarea
                  id="place_id"
                  name="place_id"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>                      
               <div class="event-top">
                <label for="city">city</label>
                <textarea
                  id="city"
                  name="city"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
               <div class="event-top">
                <label for="EventDate">EventDate</label>
                <textarea
                  id="EventDate"
                  name="EventDate"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
               <div class="event-top">
                <label for="EventCapacity">EventCapacity</label>
                <textarea
                  id="EventCapacity"
                  name="EventCapacity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>                      
            </div>
            <div class="buttonpart">
              <a><button class="button" type="submit">Etkinlik Ekle</button></a>
            </div>
          </form>
          <div class="showpart">
            <table style="width: 100%">
              <tr>
               
                <th>Ekinlik Adı</th>
              </tr>
             @model ViewModel 

               @foreach (Event evnt in Model.eventtts)
            {
              <tr>
                 
                <td style="color:black;">Event ID: @evnt.EventID</td>
              </tr>
            }
            </table>
          </div>
        </div>
      </div>

      <div id="changeEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
          @foreach (Event evntsr in Model.eventtts)
            {
          <form action="/Home/UpdateEvent/@evntsr.EventID" method="POST">
           <div class="event-text">
                
              <div class="event-top">
                <label for="EventName">EventName</label>
                <textarea
                  id="EventName"
                  name="EventName"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventName"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhoto">EventPhoto</label>
                <textarea
                  id="EventPhoto"
                  name="EventPhoto"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventPhoto"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventFull">EventFull</label>
                <textarea
                  id="EventFull"
                  name="EventFull"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventFull"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventSummary">EventSummary</label>
                <textarea
                  id="EventSummary"
                  name="EventSummary"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventSummary"
                ></textarea>
              </div>
                <div class="event-top">
                <label for="place_id">place_id</label>
                <textarea
                  id="place_id"
                  name="place_id"
                  rows="4"
                  cols="15" placeholder="@evntsr.place_id"
                ></textarea>
              </div>    
               <div class="event-top">
                <label for="city">city</label>
                <textarea
                  id="city"
                  name="city"
                  rows="4"
                  cols="15" placeholder="@evntsr.city"
                ></textarea>
              </div>
               <div class="event-top">
                <label for="EventDate">EventDate</label>
                <textarea
                  id="EventDate"
                  name="EventDate"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventDate"
                ></textarea>
              </div>
               <div class="event-top">
                <label for="EventCapacity">EventCapacity</label>
                <textarea
                  id="EventCapacity"
                  name="EventCapacity"
                  rows="4"
                  cols="15" placeholder="@evntsr.EventCapacity"
                ></textarea>
              </div>                      
            </div>
             <div class="showpart">
            <table style="width: 100%">
              <tr>
                <th>Fonksiyon:Güncelle</th>
                <th>Ekinlik No</th>
              </tr>
               
              <tr>
                
                 <td>
                        <a href ="/Home/UpdateEvent/@evntsr.EventID"> <button class="button" id="UpdateEvent" type="submit">Etkinlik Güncelle</button></a>
                    </td>
                       <td style="color:black;">Event ID: @evntsr.EventID</td>
                
              </tr>
            
            </table>
          </div>
          </form>
          }
        </div>
      </div>

      <div id="deleteEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
        
          <div class="showpart">
            <table style="width: 100%">
              <tr>
                <th>Fonksiyon:Etkinlik Çıkar</th>
                <th>Ekinlik ID</th>
              </tr>
                              @foreach (Event evnt in Model.eventtts)
            {
              <tr>
                 <td>
                     <form asp-action="DeleteEvent" method="POST" asp-route-id="@evnt.EventID">
                         <a><button class="button" id="DeleteEvent" type="submit">Etkinlik Sil</button></a>
                     </form>
              
            </td>
                <td  style="color:black;">Event ID: @evnt.EventID</td>
              </tr>
            }
            </table>
          </div>
        </div>
      </div>

      <div id="RBA" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="showpart">
          <table style="width: 100%">
            <tr>
              <th>Fonksiyon:Rol Belirle</th>
              <th>Fonksiyon:Rol Belirle</th>
              <th>Fonksiyon:Rol Belirle</th>
              <th>Kullanıcı Adı</th>
              <th>Kullanıcı Rolü</th>
            </tr>
             @foreach (profile us in Model.userss)
            {
            <tr>
              <td>
                 <form asp-action="UpdateAdmin" method="POST" asp-route-id="@us.id">
                         <a><button class="button" id="UpdateAdmin" type="submit">Admin Yap</button></a>
                     </form>
                     </td>
                     <td>
                 <form asp-action="UpdateOwner" method="POST" asp-route-id="@us.id">
                         <a><button class="button" id="UpdateOwner" type="submit">Owner Yap</button></a>
                     </form>
                     </td>
                     <td>
                 <form asp-action="UpdateReg" method="POST" asp-route-id="@us.id">
                         <a><button class="button" id="UpdateReg" type="submit">Üye Yap</button></a>
                     </form>
              </td>
               <td style="color:black;">@us.firstname @us.lastname</td>
                <td style="color:black;">@us.role</td>
            </tr>}
          </table>
        </div>
      </div>

      <div id="deleteuser" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="showpart">
          <table style="width: 100%">
            <tr>
              <th>Fonksyion:Kullanıcı Sil</th>
              <th>Kullanıcı Id</th>
              <th>Kullanıcı Adı</th>
              <th>Kullanıcı Rolü</th>
            </tr>
            @foreach (profile us in Model.userss)
            {
            <tr>
              <td>
                <form asp-action="DeleteUser" method="POST" asp-route-id="@us.id">
                         <a><button class="button" id="DeleteUser" type="submit">Kullanıcı Sil</button></a>
                     </form>
              </td> 
                <td style="color:black;">@us.id</td>
                <td style="color:black;">@us.firstname @us.lastname</td>
                <td style="color:black;">@us.role</td>
           
            </tr>
             }
          </table>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="section aboutus">
          <h2>Biz Kimiz</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            animi ea dolorum minima? Maiores corporis quisquam, perferendis
            pariatur sit laudantium?
          </p>
          <ul class="sci">
            <li>
              <a href="https://www.google.com/"
                ><i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://www.google.com/"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://www.google.com/"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
          <p style="font-size: 14px; padding-top: 20px">
            2021 COBADO.Bütün hakları Gizlidir
          </p>
        </div>
        <div class="section Navigation">
          <h2>Navigasyon</h2>
          <ul>
            <li><a href="/Home/about_us">Hakkımızda</a></li>
            <li><a href="/Home/FAQ">Sıkça Sorulanlar</a></li>
            <li><a href="/Home/security">Gizlilik Politikası</a></li>
            <li><a href="/Home/contact_us">Bize Ulaşın</a></li>
          </ul>
        </div>
        <div class="section Contact">
          <h2>Haberdar olun</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            ducimus.
          </p>
          <form action="">
            <input
              type="text"
              id="Email"
              name="Email"
              placeholder="Email Giriniz"
            />
            <input type="submit" value="Gönder" />
          </form>
        </div>
      </div>
    </footer>
    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>